<div class="recent flex">
    <h2>Recently Added :</h2>
    <% data.recentlyAddedData.forEach((row)=> { %>
        <div class="rec-bag flex">
            <img src="<%= row.Foto %>" alt="">
            <table>
                <tr>
                    <td>Review ID:</td>
                    <td>
                        <%= row.Id_Tas %>
                    </td>
                </tr>
                <tr>
                    <td>User ID:</td>
                    <td>
                        <%= row.Username %>
                    </td>
                </tr>
                <tr>
                    <td>Bag Name:</td>
                    <td>
                        <%= row.namaTas %>
                    </td>
                </tr>
                <tr>
                    <td>Brand:</td>
                    <td>
                        <%= row.Nama_Merk %>
                    </td>
                </tr>
                <tr>
                    <td>Designer:</td>
                    <td>
                        <%= row.Nama_Designer %>
                    </td>
                </tr>
            </table>
        </div>
        <% }); %>
</div>